@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Edit</h2>
<h4>Edit @Html.DisplayFor(model => model.Name):</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)

  <label for="Name">Name:</label>
  <input type="text" id="Name" name="Name" value=@Model.Name placeholder="New name goes here."required>
  <br>

  @* @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name) *@

  <label for=Stylist>Stylist: </label>
  @Html.DropDownList("StylistId", null, new {required = String.Empty});
<br>
  <input type="submit" value="Save" class="btn btn-primary"/>
}

<p>@Html.ActionLink("Back to list", "Index")</p>